a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

.nav-buttons ul {
    display: flex;
}

.nav-buttons li{
 margin-right: 50px;
 font-size: 18px;
}

.nav-logo {
    font-size: 24px;
    color: #f9faf8;

}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 0 150px;
    align-items: center;
}

.upper-page {
    background-color: #1f2937;
}